.e-card {
  margin-top: 30px;

}

.e-card-header {
  font-family: cursive;
  font-style: italic;
  background-color: cadetblue;
}

.main {
  margin: 50px;
}

.e-card-content{
  margin-top: 30px;
  margin-bottom: 30px;
}
