<div class="main">
  <h1 class="e-card-header">ADD User..!!</h1>
  <mat-divider></mat-divider>
  <div class="addUserContent1">
    <input type="text" [(ngModel)]="name" placeholder="name" />
    <input type="password" [(ngModel)]="password" placeholder="password" />
    <button (click)="addUser()">Add User</button>
  </div>
  <div  class="addUserContent2">
    <h2>List of Users</h2>
    <ul *ngFor="let user of users">
      <li>
        {{ user.name }} &nbsp;
        <button (click)="removeUser(user._id)">delete</button>
      </li>
    </ul>
  </div>
</div>
