.e-card-header {
  font-family: cursive;
  font-style: italic;
  background-color: cornflowerblue;
}
.main {
  margin: 50px;
}

.addUserContent2 {
  // background-color: cornflowerblue;
  border-style: solid;
  border-color: green;
}

.addUserContent1 {
  margin: 20px;
  margin-left: 10px;
  height: 50px;
  // background-color: blueviolet;
}
