<table class="login-container-table">
<tr class="login-container-row">
  <td class="login-container-cell">


    <table class="login-table" [cellSpacing]="10">
      <tr>
        <th>
          <h1>LOGIN</h1>
        </th>
      </tr>
      <tr>
        <td>
          <input
          type="text"
          [(ngModel)]="name"
          placeholder="name"
        />
        </td>
      </tr>
      <tr>
        <td>
          <input
          type="password"
          [(ngModel)]="password"
          placeholder="password"
        />
        </td>
      </tr>
      <tr>
        <td align="end">
          <button (click)="login()" class="login-button">Login</button>
        </td>
      </tr>
    </table>

  </td>
</tr>
</table>
