.e-card-header {
  font-family: cursive;
  font-style: italic;
  background-color: cadetblue;
}
.main {
  margin: 50px;
}

.chat-box-container {
  width: 23%;
  display: inline-flex;
  margin: 30px;
}

.chat-window {
  height: 150px;
  border: solid 1px #a0a0a0;
  max-height: 150px;
  overflow:scroll;
}

.chat-input {
  width: 82%;
}
